body {
    background-color: rgba(245, 245, 245, 0.726);
}
.caja-login-container {
    display: flex;
    align-items: center;
    height: 500px;
}

.container-image-task {
    display: flex;
    justify-content: center;
}

.container-image-task img {
    width: 200px;
}
